body
{
  margin: 0;
  padding: 0;
}
div.gallery1 {
  display: block;
  margin-left: 24px;
  margin-top: 40px;
  border: 1px solid #ccc;
  float: left;
  padding:0px;
  width: 282px;
  height: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery1:hover {
  border: 1px solid #777;
}

div.gallery1 img {
  width: 100%;
  height: 100%;
}
div.gallery2 {
  margin-left: 24px;
  margin-top: 120px;
  border: 1px solid #ccc;
  float: left;
  padding:0px;
  width: 282px;
  height: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery2:hover {
  border: 1px solid #777;
}

div.gallery2 img {
  width: 100%;
  height: 100%;
}

div.gallery3 {
  margin-left: 24px;
  margin-top: 120px;
  border: 1px solid #ccc;
  float: left;
  padding:0px;
  width: 282px;
  height: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery3:hover {
  border: 1px solid #777;
}

div.gallery3 img {
  width: 100%;
  height: 100%;
}

div.desc {
  margin-top: 7px;
  padding: 2px;
  text-align: center;
}
.roomshead
{
  margin: auto;
  display: block;
  width: 20%;
  text-align: center;
  color: white;
  padding: 12px 0;
  height: 40px;
  font-family: 'Merriweather', serif;
}
.bookroom
{
  margin-left: 100px;
  margin-top: 5px;
  background-color: red;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.bookroom:hover {
  color: black;
}
div.vippackage {
  margin: 15px;
  margin-top: 50px;
  border: 1px solid #ccc;
  float: left;
  padding:0px;
  width: 800px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.vippackage:hover {
  border: 1px solid #777;
}

div.vippackage img {
  width: 100%;
  height: 100%;
}

div.desc1 {
  margin-left: 915px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 200px;
  padding: 5px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:white;
}
div.desc2 {
  margin-left: 900px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
  padding: 5px;
  text-align: center;
  text-decoration-color: black;
}

.vipbookroom
{
   margin-left: 0px;
   background-color:red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
    
  }
.vipbookroom:hover {
  color: black;
}