{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw5T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="icon" href="{% static 'icon/favicon.png' %}">
<link rel="stylesheet" href="{% static '/css/payment.css' %}">
 <script type="text/javascript" src="{% static '/js/payment.js' %}"></script>
<title>Payment</title>

<script type="text/javascript">
    $(window).bind("pageshow", function(event) {
    if (event.originalEvent.persisted) {
        window.location.reload(); 
    }
});
</script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-12"style="margin-top: 30px;"><h3>Royal Hotel Villas</h3></div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
       
    </div>
    {% csrf_token %}  

    <div class="row">
        <div class="col-xl-6" id="summary">
            <div class="summary-item"></div>
            <div class="summary-item"><b>Room Type:</b> {{roomsdetails}}
            <span><p class="summary-text"></textarea></span></div>

            <div class="summary-item"><b>Name:</b> {{namedetails}}
                <span><p class="summary-text"></textarea></span></div>
                 
            <div class="summary-item"><b>Email Id:</b> {{emaildetails}}
                <span><p class="summary-text"></textarea></span></div>
                 
            <div class="summary-item"><b>Phone Number:</b> {{phonedetails}}
                <span><p  class="summary-text"></textarea></span></div>   
                       
            <div class="summary-item"><b>Time of Booking:</b>
                <div id="para1"><script type="text/javascript">
                    document.getElementById("para1").innerHTML = formatAMPM();

                    function formatAMPM() {
                    var d = new Date(),
                    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
                    hours = d.getHours().toString().length== 1 ? '0'+d.getHours() : d.getHours(),
                    hours = hours % 12;
                    hours = hours ? hours : 12;
                    ampm = d.getHours() <= 12 ? 'am' : 'pm',
                    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
                    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
                    return days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+'   '+hours+':'+minutes+ampm;
                    }

                </script></div>
        
                <span><p id="quantity"  class="summary-text"> </textarea></span></div>
             
                {% for price in price %}
            <div class="summary-item"><b>Advance Amount: Rs.</b> {{price}}
                <span><p id="amount"  class="summary-text"> </textarea></span></div>
                {% endfor %}
        </div>
        

        <form class="col-xl-6">
            <div class="card-details">AMOUNT IN RS.
                {% for price in price %}
                <input type="text" disabled="disabled" value="{{price}}" id="form1" class="form-control" required="required"/>
                {% endfor %}

            </div>
            
            <div class="card-details">CARD NUMBER
                <input type="text" pattern="[0-9]{13,16}" id="form1" class="form-control"  maxlength="16" placeholder="16-digit number" required/>
            </div>
            <div class="card-details"><h6>MONTH</h6>
                <input type="text" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" maxlength="10"class="card-control" required/>
            </div>
            <div class="card-details" ><h6>YEAR</h6>
                <input type="text" maxlength="4" class="card-control" required/>
            </div>
            <div class="card-details">
                <h6>CVV</h6>
                <input type="text" maxlength="4" class="card-control" required/>
            </div>
        </form><br>

        <div class="row">
            <div class="col"></div>
        
            <button class="btn btn-primary" type="submit"><a href="{% url 'paymentdone' %}" style="text-decoration: none; color:white;">BOOK ROOM</a></button>
       
        <div class="col"></div>
        </div>


        </div>
    </div>
</div>

   
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0w5" crossorigin="anonymous"></script>
</body>
</html>